name: CI

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build_test:
        runs-on: windows-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup .NET
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: "8.0.x"

            -   name: Build
                run: dotnet build SCStreamDeck.sln -c Release

            -   name: Test
                run: dotnet test Tests/Tests.csproj -c Release --no-build

            -   name: Ensure generated assets committed
                run: git diff --exit-code
